                                             /* GENERAL */
a:hover{
    text-decoration: none;
}
.vert{
    background-color: #057334;
}
.bleu{
    background-color: #051C74;
}
.jaune{
    background-color: #F0BA24;
}
.rouge{
    background-color: #C92112;
}
.blanc{
    background-color: #BEBEBE;
}
.gris{
    background-color: #828282;
}
.fonce{
    background-color: #323232;
}

.monh3{
    margin-bottom: 30px;
    color : #828282;
    border-bottom: 1px solid #828282;
    font-size: 30px;
}

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(130,130,130,0.1);
}


                                                /* NAVIGATION */

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #323232;
}
.ma-nav{
    
    border-radius: 5px;
}

.ma-nav li{
    margin: 20px 0;
    border-radius: 5px;
    text-align:center;
}

.ma-nav li a{
    color: white;
    font-size: 22px
}
.ma-nav li a:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}



                                                /* HEADER */

header{
    margin-bottom: 20px;
}
.logo{
    text-align: center;
    margin: 10px;
}
.connexion{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid rgba(130,130,130,0.3);
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
}

                                                /* CONNEXION */








                                                /* CONTENU */
.mycontent{
    margin: 20px 0;

}

                                                /* ACCUEIL */

.last{
    margin-top: 50px;
}



                                                /* FICHE PRODUIT */

.product-box{
    border: 1px solid rgba(130,130,130,0.3);
    border-radius: 5px;
    height: 330px;
    padding: 10px;
    margin-bottom: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-name{
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #828282;
    font-weight: 600;
}

.product-name:hover {
    text-decoration: none;
}

.product-image{
    height: 159px;
    width: 222px;
    display: flex;
    justify-content: center;
}
.product-add{
    text-align: right;
}

                                                /* ESPACE CLIENT */

.link-box{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.big-link{
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    transition: .1s;
}

.big-link:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
}



                                                /* PANIER */

.cart{

}

.cart-total{
    text-align: right;
    text-transform: uppercase;
}
.cart-valid{
    text-align: right;
    text-transform: uppercase;
}

.qty{
    margin: 0 7px;
}

.fa-times{
    color :#C92112;
}
.fa-plus, .fa-minus{
    color :#057334;
}