{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  La base dthdth- {{ parent() }}
{% endblock %}


{% block thomasbo_body %}
<h1>Product view</h1>

Le produit  {{ product.name }} vaut {{ product.price }} €.
{% endblock %}