{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "ThomasCoreBundle::layout.html.twig" %}

{% block title %}
  Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

  {% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
  {% endfor %}
  
  <h3 class="monh3">Meilleures ventes</h3>
  {{ render(controller("ThomasGameBundle:Product:best", {'limit': 3})) }}

  <div class="last"> 
    <h3 class="monh3">Derniers produits ajoutés</h3>
    {{ render(controller("ThomasGameBundle:Product:menu", {'limit': 3})) }}
  </div>
  

{% endblock %}
