{% extends "ThomasBackOfficeBundle::layout.html.twig" %}

{% block title %}
  Back Office - {{ parent() }}
{% endblock %}


{% block thomasbo_body %}
<h3 class="monh3">Ajouter un produit</h3>

 {{ include("ThomasBackOfficeBundle:Product:form.html.twig") }}

<p>
  <a href="{{ path('thomas_back_office_coupon_index') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à la liste
  </a>
</p>
{% endblock %}
