{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}


{% block thomasgame_body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    {{ flashMessage }}
{% endfor %}
<h1>page index</h1>

{% endblock %}

