{% if setting.image is not null %} 
  <a href="{{ path('thomas_core_home') }}"> 
    <img src="{{ asset(setting.image.webPath) }}" alt="{{ setting.image.alt }}" style="width:100%"/> 
  </a>
{% endif %} 