{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}

<div class="row ligneContenu">
    <h4 id="presse"><span id="cgv" class="titreNews">Conditions générales de vente</span></h4>
    <div class="divMl">      
        <p>Dans la suite des présentes, les termes ci-dessous auront la signification suivante :</p>
        <dl>
            <dt>« accusé de réception »:</dt>
            <dd>courrier électronique envoyé par le Site ou les Services mobiles au client récapitulant la réservation passée par le client et confirmant sa réception par le Site ou les Services mobiles.</dd>

            <dt>« confirmation de réservation »:</dt>
            <dd>document dématérialisé qui récapitule les caractéristiques des services réservés par le client via internet, et par lequel il saisit éventuellement son numéro de carte bancaire dans le cadre d’un prépaiement ou d’une garantie. L'acceptation de la confirmation de réservation a pour effet d'engager contractuellement le client.</dd>

            <dt>« client »:</dt>
            <dd>personne physique agissant pour ses besoins personnels ou professionnels mais sans rapport avec l’activité.</dd>
            
            <dt>« consommateur »</dt>
            <dd>toute personne physique qui agit à des fins qui n’entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale »</dd>


            <dt>« courrier électronique »:</dt>
            <dd>tout message, sous forme de texte, de voix, de son ou d’image, envoyés par un réseau public de communication, stocké sur un serveur du réseau ou dans l’équipement terminal du destinataire, jusqu’à ce que ce dernier le récupère.</dd>

            <dt>« demande de réservation »:</dt>
            <dd>demande de réservation de chambres d’hôtel effectuée par le client par les services mobiles ou par internet.</dd>

            <dt>« partenaires »:</dt>
            <dd>fournisseurs de services accessibles depuis le Site ou les Services mobiles, et notamment, les tour-opérateurs, les sociétés de location de voitures, les fournisseurs de billets de train ou d’avion. </dd>

            <dt>« réservation en ligne »:</dt>
            <dd>réservation de salles ou bureaux par l’intermédiaire du bon de réservation dématérialisé sur le Site ou les Services mobiles. </dd>

            <dt>« service »:</dt>
            <dd>réservation de salles ou bureaux dont les caractéristiques essentielles sont présentées sur le Site ou les Services mobiles.</dd>

            <dt>« services mobiles »:</dt>
            <dd>ensemble des services et protocoles permettant de connecter des terminaux mobiles à Internet, et permettant notamment la consultation et la réservation de salles fournis par LOKISALLE.</dd>

            <dt>« site web »:</dt>
            <dd>service électronique exploité par LOKISALLE sur le réseau internet et accessible sur le site.</dd>
        </dl>

        <p class="top"><a href="#topPage">Haut de page</a></p>

        <h4>1. Objet</h4>

        <p>1. Les présentes conditions générales définissent les droits et obligations des parties dans le cadre de la réservation à distance de services proposés par LOKISALLE sur son Site et ses Services mobiles.</p>
        <p>2. Elles régissent toutes les étapes nécessaires à la réservation et au suivi de la réservation entre les parties contractantes.</p>
        <p>3. Le client reconnaît avoir pris connaissance et accepté les présentes conditions générales de vente et les conditions de vente du tarif réservé accessibles sur le Site et les Services mobiles. Les présentes conditions générales englobent également la Charte clients de protection des données personnelles. En acceptant les présentes conditions générales, le client accepte expressément les dispositions de cette Charte.</p>

        <p class="top"><a href="#topPage">Haut de page</a></p>

        <h4>2. Champ d'application</h4>

        <p>Les présentes conditions générales de vente s'appliquent à toutes les réservations conclues par internet, via le Site ou les Services mobiles.</p>

        <p class="top"><a href="#topPage">Haut de page</a></p>

        <h4>3. Durée</h4>

        <p>1. Les présentes conditions générales de vente s'appliquent pendant toute la durée de mise en ligne des services par LOKISALLE sur le Site et sur les Services mobiles.</p>
        <p>2. LOKISALLE se réserve le droit, sans préavis, de fermer temporairement ou définitivement l’accès de son Site et/ou de ses Services mobiles ou l’espace de réservation en ligne.</p>

        <p class="top"><a href="#topPage">Haut de page</a></p>

        <h4>4. Réservation</h4>

        <p>1. Le client choisit les services présentés sur le Site et les Services mobiles.</p>
        <p>2. Le client reconnaît avoir pris connaissance de la nature, de la destination et des modalités de réservation des services disponibles sur le Sites ou les Services mobiles et avoir sollicité et obtenu des informations nécessaires et/ou complémentaires pour effectuer sa réservation en parfaite connaissance de cause.</p>
        <p>3. Le client pourra réserver, sur le Site, à titre individuel, et pour ses besoins personnels un nombre de trois (3) chambres maximum par réservation et sur les Services mobiles un maximum de une (1) chambre. Pour des réservations concernant les groupes affaires, réunions, séminaires…, il est nécessaire de se rendre dans la rubrique.</p>
        <p>4. Le client est seul responsable de son choix des services et de leur adéquation à ses besoins, de telle sorte que la responsabilité de LOKISALLE ne peut être recherchée à cet égard.</p>
        <p>5. La réservation est réputée acceptée par le client à l'issue du processus de réservation.</p>

        <p class="top"><a href="#topPage">Haut de page</a></p>

        <h4>5. Processus de réservation</h4>

        <p>1. Les réservations effectuées par le client se font par l'intermédiaire du bon de réservation dématérialisé accessible en ligne sur le Site ou via les services mobiles.</p>
        <p>2. La réservation est réputée formée dès la réception du bon de réservation ou de la demande de réservation par LOKISALLE, ou lors du prépaiement en ligne par carte bancaire.</p>
        <p>3. Le client s'engage, préalablement à toute réservation, à compléter les informations demandées sur le bon ou la demande de réservation.</p>
        <p class="top"><a href="#topPage">Haut de page</a></p>            
        <p>En cas d’évènement exceptionnel ou d’impossibilité de mettre la chambre réservée à disposition du client ou en cas de force majeure, l’hôtel choisi se réserve la possibilité de faire héberger totalement ou partiellement le client dans un hôtel de catégorie équivalente, pour des prestations de même nature et sous réserve de l’accord préalable du Client.<br />L’éventuel surcoût de la chambre, le transport entre les deux hôtels et un appel téléphonique restent à la charge de l’hôtel choisi.</p>
    </div>
</div>


{% endblock %}
