{% extends "ThomasGameBundle::layout.html.twig" %}

{% block metadesc %}
<meta name="description" content="Conditions générales de vente - Project Game" />
{% endblock %}

{% block title %}
  Conditions générales de vente - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}
<div class="rte">

<h2>Conditions générales de ventes</h2>
<h3><strong>Confidentialité :</strong></h3>
<p>Le site project-game géré par Thomas AUJEAN est un projet effectué dans le cadre d'une formation de développeur web.</p>
<h3><strong>Sécurisation :</strong></h3>
<p>Pour le paiement sécurisé par carte bancaire, les coordonnées de votre carte de crédit sont cryptées grâce au protocole SSL (Secure Socket Layer) et ne transitent jamais en clair sur le réseau. Le paiement est directement effectué auprès de la banque.... ou pas =) Il n'y a aucun paiement mis en place.</p>
<h3><strong>Expédition :</strong></h3>
<p>Elle est très rapide.</p>
<h3><strong>Retour &amp; Garantie :</strong></h3>
<p>Comme rien ne part, rien ne revient.. Mais si vous avez des cadeaux à m'offrir, l'adresse dans Qui sommes nous est la mmienne</p>
</div>


{% endblock %}
