{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}

        
<div class="rte">
    <h2>Mentions légales</h2>
    <h3>Project Game</h3>
    <p>Siège social :<br />121 avenue du Général de Gaulle<br />94170 LE PERREUX SURMARNE <br />Tél. : 06 66 66 66 65<br />Mail : thomas.aujean@gmail.com <br /><br />SARL au capital de 100€ <br /></p>
    <h3>Création du site Internet :</h3>
    <p>Thomas AUJEAN</p>
    <h3>Hébergeur :</h3>
    <p>OVH et mon grand frère</p>
    <h3>Copyright :</h3>
    <p>Toute reproduction ou distribution non autorisée des informations de ce site est interdite. Le contenu est disponible pour un usage privé et non collectif. Le code de la propriété intellectuelle n'autorisant, aux termes de l'article L. 122-5.2° et 3°a, d'une part, que les " copies ou reproductions strictement réservées à l'usage privé du copiste et non destinées à une utilisation collective " et, d'autre part, que les analyses et les courtes citations dans un but d'exemple et d'illustration, " toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause est illicite " (art. L. 122-4). Cette représentation ou reproduction, par quelque procédé que ce soit constituerait donc une contrefaçon sanctionnée par les articles L. 335-2 et suivants du code de la propriété intellectuelle.</p>
    <h3>Marques et logos</h3>
    <p>Toute utilisation quelle qu'elle soit des noms de marques et logos de ce site est interdite sans autorisation.</p>
    <h3>Crédit photographique</h3>
    <p>Toutes les photos ont été exclusivement trouvées sur internet, et ne sont sûrement pas libres de droit. Ce site n'a pas pour vocation de rester en ligne</p>
</div>




{% endblock %}
