{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}



{% block thomasgame_body %}

        
<div class="row ligneContenu" id="topPage">
    <h4 class="monh3">Mentions légales</h4>
    <div class="divMl">                         
        <p>Vous êtes actuellement connecté au site de réservation de salles LOKISALLE. L'utilisateur en ayant accès à ce site s'engage à se conformer aux présentes conditions d'utilisation.<p>
        <p>La présentation et chacun des éléments, y compris le nom de domaine, les marques, logos, enseignes, dessins, illustrations, photographies, textes, graphiques et autres fichiers apparaissant sur le présent site, sont protégés par les lois en vigueur sur la propriété intellectuelle, et appartiennent à LOKISALLE ou font l'objet d'une autorisation d'utilisation.
            Aucun élément composant le site de LOKISALLE ne peut être copié, reproduit, modifié, réédité, chargé, dénaturé, transmis ou distribué de quelque manière que ce soit, sous quelque support que ce soit, de façon partielle ou intégrale, sans l'autorisation écrite et préalable de LOKISALLE à l'exception d'une stricte utilisation pour usage personnel, privé et non-commercial, sans modification des éléments présents sur le site.
            La mention suivante doit notamment apparaître sur toute copie autorisée de tout ou partie du contenu du site: "©Copyright LOKISALLE. Les photographies figurant sur le site ne sont pas contractuelles."<p>
        <p>Toute autre utilisation non expressément autorisée du site LOKISALLE ou de ses éléments constituerait une atteinte aux droits de LOKISALLE passible notamment de contrefaçon sanctionnée par les articles L 355-2 et suivants du Code de la Propriété Intellectuelle.
            Droits de LOKISALLE en sa qualité de producteur de bases de données.</p>
        <p>Tout client, prospect ou partenaire dispose d’un droit personnel, non exclusif, incessible et intransmissible de consultation des informations contenues sur le site LOKISALLE pour ses propres besoins à des fins de réservation hôtelière.
            Il est autorisé à extraire et/ou réutiliser une partie du contenu de ce site à des fins personnelles de consultation, sous réserve que cette extraction et/ou réutilisation ne porte pas sur une partie, appréciée qualitativement ou quantitativement, substantielle du contenu de ce site. En outre, est également interdite l’extraction et/ou la réutilisation répétée du contenu, même non substantiel, de ce site.
            Toute reproduction totale ou partielle du site à des fins autres est expressément prohibée par les articles L. 342-1 et L. 342-2 du Code de la propriété intellectuelle. Est également interdite la communication au public de tout ou partie du contenu du site, sous quelque forme et à destination de quelque public que ce soit.
            En particulier, l’utilisation à des fins commerciales du contenu de ce site est expressément interdite.
        <p>Pour en savoir plus sur les photographies utilisées sur le site LOKISALLE, on va dire que cela dépend.
            L'ensemble des informations accessibles via ce site sont fournies en l'état. LOKISALLE ne donne aucune garantie, explicite ou implicite, et n'assume aucune responsabilité relative à l'utilisation de ces informations.
            L'utilisateur est seul responsable de l'utilisation de telles informations.
            LOKISALLE se réserve le droit de modifier à tout moment les présentes notamment en actualisant le site</p>
        <p>L'utilisateur s'engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s'engage à ce titre à ne pas divulguer via ce site des informations illégales, contraires à l'ordre public ou diffamatoires.
            LOKISALLE met tout en œuvre pour offrir aux utilisateurs des informations et/ou des outils disponibles et vérifiés, mais ne saurait être tenue pour responsable des erreurs, d’une absence de disponibilité des informations et/ou de la présence de virus sur son site.
        <p>Pour toute remarque sur le fonctionnement du site, vous pouvez envoyer un message en sélectionnant la rubrique Contact.
            Les messages que vous nous ferez parvenir par l'intermédiaire d'Internet peuvent être interceptés sur le réseau. Jusqu'à ce qu'ils nous parviennent, leur confidentialité ne peut être garantie.</p>
    </div>
</div>




{% endblock %}
