{% extends "ThomasGameBundle::layout.html.twig" %}

{% block metadesc %}
<meta name="description" content="Qui sommes nous - Project Game" />
{% endblock %}

{% block title %}
  Qui sommes nous - {{ parent() }}
{% endblock %}

{% block thomasgame_body %}

<h1 class="monh3">Qui sommes nous ?</h1>

<div class="row">
  <div class="col-xs-12 col-md-5">
    <p>Raison sociale : Project Game</p>
    <p>Adresse : 121 avenue du Général de Gaulle, 94170 Le Perreux sur marne, France</p>
    <p>Mission : La société est spécialisée dans la vente de jeux videos, consoles et accessoires retros.</p>
    <p>Périmètre géographique de l’activité : L'entrepot de la société se situe à Paris.</p>
    <p>Notre objectif : Ne pas laisser ces pépites tomber dans l'oubli !</p>
  </div>
  <div class="col-xs-12 col-md-7">
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2625.8445101812167!2d2.502818815792984!3d48.84210450980715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47e60d9cc6f8524f%3A0x4f8ea761a3f68a0f!2s121+Avenue+du+G%C3%A9n%C3%A9ral+de+Gaulle%2C+94170+Le+Perreux-sur-Marne!3m2!1d48.842101!2d2.5050075!5e0!3m2!1sfr!2sfr!4v1504443829493" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


{% endblock %}
