{% extends "ThomasGameBundle::layout.html.twig" %}
{% block title %}
  La base - {{ parent() }}
{% endblock %}

{% block thomasgame_body %}

<h1>Qui sommes nous ?</h1>


<p>Raison sociale : Project Game</p>
<p>Adresse : 300 Boulevard de Vaugirard, 75015 Paris, France</p>
<p>Mission : La société est spécialisée dans la vente de jeux videos, consoles et accessoires retros.</p>
<p>Périmètre géographique de l’activité : L'entrepot de la société se situe à Paris.</p>
<p>Notre objectif : Ne pas laisser ces pépites tomber dans l'oubli !</p>


{% endblock %}
